
h2{
    text-align: center;
    color: black;
    font-style: italic;

}
.personajes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 20px;
}

.personaje{
    border: 2px solid black;
    padding: 10px;
    border-radius: 5px;
    margin: 8px;
    max-width: 300px;
    background-color: #2aa3fc;

}

.personaje h4,
.personaje h6{
    margin: 0;
    color: white;
}

.personaje .ficha{
    display: flex;
    justify-content: flex-start;
    margin: 16px 0 0;
    color: aliceblue;
}

.personaje .ficha .foto{
    max-width: 100px;
}

.personaje .ficha .datos{
    margin-left: 16px;
}

.personaje .ficha .foto img{
    display: block;
    width: 100%;
    border-radius: 8px;
}